<h1>Search Results</h1>

<table class="highlight">
	<thead>
		<tr>
			<th>Name</th>
			<th>Colors</th>
			<th>Type</th>
			<th>Converted Mana Cost</th>
		</tr>
	</thead>

	<tbody>
			<% @cards.each do |card| %>
				<tr>
					<td>
					  <a class="modal-trigger" href="#modal-<%= card.id %>">
					    <%= card.name %>
					  </a>
					  <div id="modal-<%= card.id %>" class="modal">
					    <div class="image-popup">
     				    <%= image_tag(card.image_url) %>
     				  </div>
					  </div>
					</td>
					<td><%= card.colors.join(", ") %></td>
					<td><%= card.card_type %></td>
					<td><%= card.converted_cost %></td>
				</tr>
			<% end %>
	</tbody>
</table>
