<!DOCTYPE html>
<html>
<head>
  <title>Planeswalkr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <div class="nav-wrapper #311b92 deep-purple darken-4">
      <%= render partial: "shared/navbar" %>
    </div>
  </nav>

  <div class="sidebar-top">
    <div class="menu-sidebar">
      <%= render partial: "shared/card_search" %>
    </div>
  </div>

  <div class="yield">
    <div class="row">
      <%= yield %>
    </div>
  </div>

</body>
</html>
